<div class="row">
  <div class="small-12 columns">
    <img style="margin-left: auto; margin-right: auto; display: block;" src="<%= url('/img/tshock_logo.png') %>" />
    <h4 style="text-align: center">Let's update that server for you.</h4>
  </div>
  <hr />
</div>
<div class="row">
  <div class="small-6 small-centered columns">
    <form class="custom" method="post" action="<%= url('/modify/server/') %>" data-abide novalidate="validate">
      <fieldset>
        <legend>Edit Server</legend>
        <div class="row collapse">
          <div class="small-12 columns">
            <span data-tooltip class="tip-top has-tip" title="A friendly name to be shown to your new users.">
              <label>Server Name <small>Required</small></label>
            </span>
            <input type="text" pattern="alpha_numeric" name="server_name" value="<%= server[:server_name] %>" required>
            <small class="error" data-error-message>A valid server name is required.</small>
          </div>
          <div class="small-12 columns">
            <span data-tooltip class="tip-top has-tip" title="A witty retort to tell your new users!">
              <label>Welcome Message</label>
            </span>
            <input type="text" pattern="alpha_numeric" name="server_welcome" value="<%= server[:server_welcome] %>">
          </div>
          <div class="small-12 columns">
            <span data-tooltip class="tip-top has-tip" title="Players will type this into the logon screen to join.">
              <label>Server Logo URL</label>
            </span>
            <input type="text" type="url" name="server_img_url" pattern="alpha_numeric" value="<%= server[:server_img_url] %>">
          </div>
          <div class="small-8 columns">
            <span data-tooltip class="tip-top has-tip" title="REST must be turned on.<br>Additionally, it should be port forwarded and allowed through firewalls.">
              <label>REST IP <small>Required</small></label>
            </span>
            <input type="text" name="rest_api_ip" pattern="alpha_numeric" value="<%= server[:rest_api_ip] %>" required>
            <small class="error">A valid REST IP or hostname is required.</small>
          </div>
          <div class="small-4 columns">
            <span data-tooltip class="tip-top has-tip" title="Your server's REST port. This is different than what players use to join.">
              <label>REST Port <small>Required</small></label>
            </span>
            <input type="text" name="rest_api_port" pattern="number" value="<%= server[:rest_api_port] %>" required>
            <small class="error">A valid REST port is required.</small>
          </div>
          <div class="small-12 columns">
            <span data-tooltip class="tip-top has-tip" title="This token must match the token in the plugin's config file.">
              <label>REST Token <small>Required</small></label>
            </span>
            <input type="text" type="url" name="rest_token" pattern="alpha_numeric" value="<%= server[:rest_token] %>" required>
            <small class="error">A valid REST token is required.</small>
          </div>
          <div class="small-12 columns">
            <span data-tooltip class="tip-top has-tip" title="This is the group that new users will be added to.">
              <label>Default Group <small>Required</small></label>
            </span>
            <input type="text" name="default_group" pattern="alpha_numeric" value="<%= server[:default_group] %>" required>
            <small class="error">A valid default group is required.</small>
          </div>
          <div class="small-12 columns">
            <button type="submit" class="button prefix">Edit Server</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
